<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.UserInfoMapper">


<!-- 회원가입 -->
<insert id="InsertUserInfo" parameterType="UserInfoDTO">
INSERT INTO USER_INFO
(
USER_NAME,
PASSWORD,
EMAIL
)
VALUES(
#{user_name},
#{password},
#{email}
)

</insert>



</mapper>